<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор периода</title>
</head>
<body>
    <h1>Выберите период для скачивания отчета</h1>
    <form action="{% url 'export-excel' %}" method="get">
        <label for="period">Период:</label>
        <select id="period" name="period">
            <option value="январь-февраль">Январь-Февраль</option>
            <option value="февраль-март">Февраль-Март</option>
            <option value="март-апрель">Март-Апрель</option>
            <option value="апрель-май">Апрель-Май</option>
            <option value="май-июнь">Май-Июнь</option>
            <option value="июнь-июль">Июнь-Июль</option>
            <option value="июль-август">Июль-Август</option>
            <option value="август-сентябрь">Август-Сентябрь</option>
            <option value="сентябрь-октябрь">Сентябрь-Октябрь</option>
            <option value="октябрь-ноябрь">Октябрь-Ноябрь</option>
            <option value="ноябрь-декабрь">Ноябрь-Декабрь</option>
            <option value="декабрь-январь">Декабрь-Январь</option>
        </select>
        <button type="submit">Скачать отчет</button>
    </form>
</body>
</html>

